asgiref
certifi
charset-normalizer
click
cryptography
defusedxml
django
django-allauth
django-appconf
django-browser-reload
django-celery-beat
django-colorfield
django-compressor
django-cors-headers
django-countries
django-crispy-forms
django-debug-toolbar
django-jazzmin
django-material-admin
django-phonenumber-field
django-tailwind
django-timezone-field
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
et-xmlfile
filelock
gitdb
GitPython
idna
importlib-metadata
ipython
jinja2
jinja2-time
jsonpatch
jsonpointer
multidict
parso
phonenumbers
platformdirs
prompt-toolkit
protobuf
psutil
PyJWT
python-dateutil
python-decouple
python-dotenv
python-slugify
pytz
pywin32
PyYAML
regex
requests
requests-oauthlib
sqlparse
tzdata
tzlocal
urllib3
watchdog


