{% extends "base.html" %}

{% block content %}

{% load static %}


<section class="bg-white dark:bg-gray-800">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Unlock a World of Possibilities with Our <span class="text-blue-600 dark:text-blue-500">Exceptional Banking Features</span> Tailored Just for You</h1>
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Seamless integration of modern online banking features brought together under one application for our customers.</p>
<br>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
            <div class="space-y-3">
                <span class="inline-block p-3 text-blue-500 bg-blue-200 rounded-full dark:text-white dark:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                    </svg>
                </span>

                <h2 class="mb-3 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white">Advanvced Analytics</h2>

                <p class="text-gray-500 dark:text-gray-400">Featuring advanced graph visualization, our platform enables users to effortlessly review their transaction history, including dates, transaction types, and amounts.</p>


           
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-blue-500 bg-blue-200 rounded-full dark:text-white dark:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                    </svg>
                </span>

                <h2 class="mb-3 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white">Zero Configuration</h2>

                <p class="text-gray-500 dark:text-gray-400">
                    Instantly set up your online banking account without any registration fees or appointments. Our quick registration system allows guests to create an account and immediately access online banking features.                
                </p>

            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-blue-500 bg-blue-200 rounded-full dark:text-white dark:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                    </svg>
                </span>

                <h2 class="mb-3 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white">Monitor Your Savings</h2>

                <p class="text-gray-500 dark:text-gray-400">
                    Directly below your account balance, find the transaction history table, along with date and time of each transaction, including those made with credit or debit cards. Additionally, there's a convenient option to download your bank statement              
                  </p>

              
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-blue-500 bg-blue-200 rounded-full dark:text-white dark:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                    </svg>
                </span>

                <h2 class="mb-3 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white">Elegant Dark Mode
                </h2>

                <p class="text-gray-500 dark:text-gray-400">
                    Introducing dark-mode feature into our application allowing users to set the themeing of their online banking dashboard as per their preferences, enhancing user experience.
                </p>

              
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-blue-500 bg-blue-200 rounded-full dark:text-white dark:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                    </svg>
                </span>

                <h2 class="mb-3 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white">Easy To Customize</h2>

                <p class="text-gray-500 dark:text-gray-400">
                    Easy customization of ones account detail and navigation throughout the system so that system can be made easy for everyone.
                </p>

          
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 text-blue-500 bg-blue-200 rounded-full dark:text-white dark:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                    </svg>
                </span>

                <h2 class="mb-3 text-lg font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl dark:text-white">Simple & Clean Designs</h2>

                <p class="text-gray-500 dark:text-gray-400">
                    Free from distractions, our interface focuses on clarity and functionality, ensuring effortless navigation and seamless interactions. Whether checking your balance or transferring funds, our intuitive layout offers a hassle-free banking experience.        
                        </p>

      
            </div>
        </div>
    </div>
</section>



<section class="bg-white dark:bg-gray-800">
    <div class="container px-6 py-10 mx-auto">
        <div class="xl:flex xl:items-center xL:-mx-4">
            <div class="xl:w-1/2 xl:mx-4">
                <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">Our Team</h1>

                <p class="max-w-2xl mt-4 text-gray-500 dark:text-gray-300">
                    Our team work 24x7 to provide you with the best online banking experience and providing with the latest features in the financial sector.
                </p>
            </div>

            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-0 xl:mx-4 xl:w-1/2 md:grid-cols-2">
                <div>
                    <img class="object-cover rounded-xl aspect-square" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">

                    <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Ahmed</h1>

                    <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Full stack developer</p>
                </div>

                <div>
                    <img class="object-cover rounded-xl aspect-square" src="https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                    <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white">Mia</h1>

                    <p class="mt-2 text-gray-500 capitalize dark:text-gray-300">Front-end designer</p>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="flex flex-wrap items-center justify-center bg-white dark:bg-gray-800">
    <!-- Left side section -->
    <div class="w-full md:w-1/2 p-4 bg-white dark:bg-gray-800">
        <div class="mb-8">
            <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Stats that <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">matter:</mark> Key Metrics and Insights</h1>
            <p class="mb-3 text-gray-500 dark:text-gray-400">We prioritize top-tier security and compliance to safeguard you and your customers in online banking.</p>
        </div>
    
<br>
        <div class="mb-8 flex items-center"> 
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z" clip-rule="evenodd"/>
                <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"/>
            </svg>
            <div class="ml-4"> <!-- Adjusted margin left -->
                <h4 class="text-2xl font-bold dark:text-white">AED 86 billion</h4>
                <p class="text-gray-500 dark:text-gray-400">Worth of transactions done in the past 5 years.</p>
            </div>
        </div>
        
        
        <div class="mb-8 flex items-center"> 
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
              </svg>
              
            <div class="ml-4"> <!-- Adjusted margin left -->
                <h4 class="text-2xl font-bold dark:text-white">90 % Users</h4>
                <p class="text-gray-500 dark:text-gray-400">Over 90% users were satisfied with our banking application.</p>
            </div>
        </div>


        <div class="mb-8 flex items-center"> 
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 7.205c4.418 0 8-1.165 8-2.602C20 3.165 16.418 2 12 2S4 3.165 4 4.603c0 1.437 3.582 2.602 8 2.602ZM12 22c4.963 0 8-1.686 8-2.603v-4.404c-.052.032-.112.06-.165.09a7.75 7.75 0 0 1-.745.387c-.193.088-.394.173-.6.253-.063.024-.124.05-.189.073a18.934 18.934 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.073a10.143 10.143 0 0 1-.852-.373 7.75 7.75 0 0 1-.493-.267c-.053-.03-.113-.058-.165-.09v4.404C4 20.315 7.037 22 12 22Zm7.09-13.928a9.91 9.91 0 0 1-.6.253c-.063.025-.124.05-.189.074a18.935 18.935 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.074a10.163 10.163 0 0 1-.852-.372 7.816 7.816 0 0 1-.493-.268c-.055-.03-.115-.058-.167-.09V12c0 .917 3.037 2.603 8 2.603s8-1.686 8-2.603V7.596c-.052.031-.112.059-.165.09a7.816 7.816 0 0 1-.745.386Z"/>
              </svg>
            
            <div class="ml-4"> <!-- Adjusted margin left -->
                <h4 class="text-2xl font-bold dark:text-white">1B + Accounts</h4>
                <p class="text-gray-500 dark:text-gray-400">Proudly stored and provided online banking facilities to ovet 1 billion accounts.</p>
            </div>
        </div>
        
        <div class="mb-8 flex items-center"> 
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 9h.01M8.99 9H9m12 3a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM6.6 13a5.5 5.5 0 0 0 10.81 0H6.6Z"/>
              </svg>
              
            
            <div class="ml-4"> <!-- Adjusted margin left -->
                <h4 class="text-2xl font-bold dark:text-white">Positive feedback</h4>
                <p class="text-gray-500 dark:text-gray-400">8/10 user given out positive feedback to the application.</p>
            </div>
        </div>
        
    </div>
    
    <!-- Right side section -->
    <div class="w-full md:w-1/2 p-4">
        <img src="{% static 'table-professor.png' %}" alt="Table Professor" class="w-full h-auto">
    </div>
</div>


<div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <h1 class="flex items-center text-5xl font-extrabold dark:text-white">
        <span class="bg-blue-100 text-blue-800 text-3xl font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-2">FAQs</span>
    </h1>
  </div>
  
<div id="accordion-color" data-accordion="collapse" data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
    <h2 id="accordion-color-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
        <span>What is Online Banking?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
Online banking, also known as internet banking or e-banking, refers to the process of conducting various banking activities and transactions over the internet through a bank's website or mobile application. It allows customers to perform a wide range of financial tasks without physically visiting a bank branch.</p>
        <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="{% url 'about' %}" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start utilizing banking features online without visitng Atm.</p>
      </div>
    </div>
    <h2 id="accordion-color-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
        <span>Is there any fees for using this online banking platform?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">All our online features are offered totally free, with no hidden charges</p>
        <p class="text-gray-500 dark:text-gray-400">However banking features such as card issuance and loans repayment  requires payment, check out our fees for<a href="{% url 'issue_cards' %}" class="text-blue-600 dark:text-blue-500 hover:underline"> card issuance</a> based on the financial rules and regualtions of the bank.</p>
      </div>
    </div>
    <h2 id="accordion-color-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
        <span>What are the differences between any other online banking platform and this?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
      <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
        <p class="mb-2 text-gray-500 dark:text-gray-400">
            The main difference lies in the simplicity, as well as maintaining a sleek design to enhance your online banking experience while also providing you with an easy-to-navigate platform so that your banking needs can be fulfilled from the comfort of your home.</p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">The second difference is we use advance authentication system to protect user and their financial details securely in our database thereyby reducing risk of cyber atatck.</p>
        <p class="mb-2 text-gray-500 dark:text-gray-400">Get started today by creating your online banking account:</p>
        <ul class="ps-5 pl-8 text-gray-500 list-disc dark:text-gray-400">
            <li><a href="{% url 'register' %}" class="text-blue-600 dark:text-blue-500 hover:underline">Sign Up !</a></li>
            <li><a href="{% url 'contact_us' %}" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Contact Us !</a></li>
          </ul>
          
      </div>
    </div>
  </div>
  



<section class="bg-gray-100 dark:bg-gray-800 lg:py-12 lg:flex lg:justify-center">
    <div
        class="overflow-hidden bg-white dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-6xl lg:w-full lg:shadow-md lg:rounded-xl">
        <div class="lg:w-1/2">
            <div class="h-64 bg-cover lg:h-full" style="background-image:url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')"></div>
        </div>

        <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
            <h4 class="text-2xl font-bold dark:text-white">
                Make Your Online Banking Account<span class="text-blue-500"> Now !</span>
            </h4>

            <blockquote class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800">
                <p class="text-xl italic font-medium leading-relaxed text-gray-900 dark:text-white">"It's really easy to get started from creating your account to authenticating yourself into the system, it's all done within minutes of you visiting our app for the very first time."</p>
            </blockquote>
     
            
            <div class="flex justify-center mt-2"> <!-- Adjusted vertical spacing -->
                <div class="inline-flex mt-6 sm:w-auto">
                    <a href="{% url 'register' %}" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Let's create your account</a>
                </div>
            </div>
            
        </div>
    </div>
</section>


{% endblock content %}